body {
  font-family: sans-serif;
}

.bg-top {
  background-color: #1f2535;
  padding: 20px 40px;
}

.bg-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px 40px;
  margin-top: 70px;
}

.bg-bottom p {
  font-weight: lighter;
  font-size: 12px;
  margin: 0;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
